<style>
    @import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
</style>
<div class="blue darken-3" style="height: 750px; font-family: 'Permanent Marker', cursive;">

    <h1 class="animated wow fadeInLeft text-white text-center" style="font-size: 100px; padding-top:150px; font-weight: bolder">
            <i class="fas fa-gamepad text-color-dark"></i> Bruno <i class="fas fa-gamepad text-color-dark"></i>
    </h1>
    <h1 class="animated wow fadeInRight text-white text-center" style="font-size: 100px; font-weight: bolder">
            <i class="fas fa-gamepad text-color-dark"></i> Juegos <i class="fas fa-gamepad text-color-dark"></i>
    </h1>
    <h2 class="animated wow fadeInUp text-white text-center"><i class="fas fa-gamepad text-color-dark"></i> Os piores jogos e o jogo miranha <i class="fas fa-gamepad"></i></h2>



</div>