<h1>Projeto Node Mongodb</h1>
<br>

<h2>Usuário</h2>
<br>

<form [formGroup]="fg">

    <label>Código:</label><br>
    <input type="number" name="codigo" [(ngModel)]='usuario.codigo' placeholder="Digite o código" formControlName="codigo"><br>
    <div *ngIf='codigo.invalid && codigo.touched'> <!-- Valida se o valor é invalido e se o campo já foi clicado -->
        <div [ngSwitch]="codigo.errors != null" style="color:red">
            <span *ngSwitchCase = "codigo.errors['required']">
                <b>Preenchimento obrigatório</b>
            </span>
            <span *ngSwitchCase = "codigo.errors['min'] != null">
                <b>Não pode ser menor que 20</b>
            </span>
            <span *ngSwitchCase = "codigo.errors['max'] != null">
                <b>Não pode ser maior que 5000</b>
            </span>
        </div>
    </div>

    <label>Nome:</label><br>
    <input type="string" name="nome" [(ngModel)]='usuario.nome' placeholder="Digite o nome" formControlName="nome"><br>
    <div *ngIf='nome.invalid && nome.touched'> <!-- Valida se o valor é invalido e se o campo já foi clicado -->
        <div [ngSwitch]="nome.errors != null" style="color:red">
            <span *ngSwitchCase = "nome.errors['required']">
                <b>Nome obrigatório</b>
            </span>
            <span *ngSwitchCase = "nome.errors['minlength'] != null">
                <b>O nome deve conter no mínimo duas letras</b><br>
            </span>
            <span *ngSwitchCase = "nome.errors['maxlength'] != null">
                <b>O nome deve conter no máximo 10 letras</b>
            </span>
            <span *ngSwitchCase = "nome.errors['pattern'] != null">
                <b>O nome deve conter apenas letras</b>
            </span>
        </div>
    </div>

    <label>E-mail:</label><br>
    <input type="string" name="email" [(ngModel)]='usuario.email' placeholder="Digite o email" formControlName="email"><br>
    <div *ngIf='email.invalid && email.touched'> <!-- Valida se o valor é invalido e se o campo já foi clicado -->
        <div [ngSwitch]="email.errors != null" style="color:red">
            <span *ngSwitchCase = "email.errors['required']">
                <b>O preenchimento do e-mail é obrigatório</b>
            </span>
            <span *ngSwitchCase = "email.errors['email'] != null">
                <b>E-mail fora do padrão</b>
            </span>
        </div>
    </div>

    <br>

    <button (click)='gravar();' [disabled]="fg.invalid">Gravar</button>

</form>

<br>

<div *ngIf='msg'>
    {{msg}}
</div>

<br>

Lista de Usuários:<br>
<li *ngFor='let item of usuarioLista'>
    {{item._id}} - {{item.nome}} - {{item.email}}
</li>

<table border="1">
    <thead>
        <tr>
            <th>Id:</th>
            <th>Código:</th>
            <th>Nome:</th>
            <th>E-mail:</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let item of usuarioLista'>
            <td>{{item._id}}</td>
            <td>{{item.codigo}}</td>
            <td>{{item.nome}}</td>
            <td>{{item.email}}</td>
        </tr>
    </tbody>
</table>