<h1>Projeto Aluno</h1>
<hr>

<h2>Calculo Aluno - Média e Situação</h2>
<br>

<label>Nome:</label><br>
<input type="text" name="nome" [(ngModel)]='aluno.nome' placeholder="Digite o Nome"><br>

<label>Disciplina:</label><br>
<input type="text" name="disciplina" [(ngModel)]='aluno.disciplina' placeholder="Digite a disciplina"><br>

<label>Nota 1:</label><br>
<input type="number" name="nota1" [(ngModel)]='aluno.nota1' placeholder="Digite a nota 1"><br>

<label>Nota 2:</label><br>
<input type="number" name="nota2" [(ngModel)]='aluno.nota2' placeholder="Digite a nota 2"><br>

<br>
<button (click)='calcularMedia()'>Calcular Média</button>
Média: {{aluno.media}}
<br><br>

<button (click)='calcularSituacao()'>Calcular Situação</button>
Situação: {{aluno.situacao}}
<br><br>
Aluno Json: {{aluno | json}}

<hr>
<h2>Lista de Alunos</h2>
<br>
<table>
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Disciplina</th>
            <th>Nota 1</th>
            <th>Nota 2</th>
            <th>Média</th>
            <th>Situação</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let item of listaDeAlunos'>
            <td>{{item.id}}</td>
            <td>{{item.nome}}</td>
            <td>{{item.disciplina}}</td>
            <td>{{item.nota1}}</td>
            <td>{{item.nota2}}</td>
            <td>{{item.media}}</td>
            <td>{{item.situacao}}</td>
        </tr>
    </tbody>
</table>

<hr>

<h2>Lista de alunos em json</h2>
<pre>
    {{listaDeAlunos | json}}
</pre>

<hr>

<h2>Lista de Alunos por Posição</h2>
<li *ngFor='let x of listaDeAlunos; let i = index;'>
    Posição: {{i}}, Nome: {{x.nome}}, Situação: {{x.situacao}}
</li>