<style>
        @import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
    </style>
<div style="margin-top: 80px; font-family: 'Permanent Marker', cursive;">

    <div class="bg-dark text-white">
        <marquee class="pt-1"  style="font-family: 'Permanent Marker', cursive;">
            <i class="fas fa-dollar-sign" style="color: gold;"></i>
            <i class="fas fa-dollar-sign" style="color: gold;"></i>
            <i class="fas fa-dollar-sign" style="color: gold;"></i>
            Compre Já
            <i class="fas fa-dollar-sign" style="color: gold;"></i>
            <i class="fas fa-dollar-sign" style="color: gold;"></i>
            <i class="fas fa-dollar-sign" style="color: gold;"></i>
        </marquee>
    </div>

    <div class="container-fluid mt-4"  style="font-family: 'Permanent Marker', cursive;">
        <div class="row">
            <div class="col-md-4" *ngFor="let item of produtoLista">
                <mdb-card class="mb-3">
                    <mdb-card-body>
                        <img [src]='item.imagem' style="width: 150px" title={{item.descricao}}><br>
                        <b>{{item.nome}}</b><br>
                        R${{item.preco}}<br>
                        <button (click)='addCesta(item);' mdbBtn mdbWavesEffect color="primary" block="true" size="sm">Comprar<i clas="fas fas-cart-plus"></i></button>
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
    </div>