<mdb-card class="animated wow fadeIn">
        <mdb-card-body>
            <mdb-card-title>
                <h3 class="text-center">Projeto Token LocalStorage</h3>
            </mdb-card-title>

            <br>
            <label>Login:</label>
            <input type="text" #login [(ngModel)]='usuario.login' placeholder=" Digite o login" class="ml-2"><br><br>
            
            <label>Senha:</label>
            <input type="password" #senha [(ngModel)]='usuario.senha' placeholder=" Digite a senha" class="ml-2"><br><br>
            
            <button (click)='logar();'>Login</button>
            <br>
            {{usuario | json}}
        </mdb-card-body>

    </mdb-card>