.bannervideo{
    background-position: center center;
    background-repeat: no-repeat;
    height: 550px;
}

.video{
    margin-top: 200px;
    font-size: 70px;
    text-shadow: 5px 5 px 10px #000;
    font-weight: bolder;
    font-family: 'Lexend Mega', sans-serif;
}