<h1 class="bg-dark text-white p-3 text-center">Projeto 03 Funcional Herança e Interface</h1>

<div class="card col-md-6 offset-md-3 mt-4 shadow">
  <div class="card-header text-center">
    <h4>Formulário de Cálculo</h4>
  </div>
  <div class="card-body">
    <label>Código:</label><br>
    <input type='number' name='id' [(ngModel)]='aluno.id' placeholder="Digite o código" class="form-control"><br>
    
    <label>Nome:</label><br>
    <input type='text' name='nome' [(ngModel)]='aluno.nome' placeholder="Digite o Nome" class="form-control"><br>
    
    <label>Disciplina:</label><br>
    <input type='text' name='disciplina' [(ngModel)]='aluno.disciplina' placeholder="Digite a disciplina" class="form-control"><br>
    
    <label>Nota 1:</label><br>
    <input type='number' name='nota1' [(ngModel)]='aluno.nota1' placeholder="Digite a nota 1" class="form-control"><br>
    
    <label>Nota 2:</label><br>
    <input type='number' name='nota2' [(ngModel)]='aluno.nota2' placeholder="Digite a nota 2" class="form-control">
  </div>
  <div class="card-footer">
    <button (click)='calcularMedia();' class="btn btn-info mr-1 btn-sm">Calcular Média</button>
    <button (click)='calcularSituacao();' class="btn btn-primary mr-1 btn-sm">Calcular Situação</button>
    <button (click)='calcularFuncionalSomaItem();' class="btn btn-secondary mr-1 btn-sm">Calcular Funcional Soma item</button>
    <button (click)='calcularFuncionalItem();' class="btn btn-dark btn-sm">Calcular Funcional item</button>
    
    <br>
    Aluno: {{aluno|json}}
    <br>
    Soma notas por aluno: {{soma|json}}
    <br>
    Soma tudo: {{somaTudo|json}}
  </div>
</div>